

!/dataset/Dataset021_ACDC_SINGLE_LABEL/
!/dataset/Dataset021_ACDC_SINGLE_LABEL/imagesTs/
/dataset/Dataset021_ACDC_SINGLE_LABEL/imagesTs/*.nii.gz
!/dataset/Dataset021_ACDC_SINGLE_LABEL/labelsTs/
/dataset/Dataset021_ACDC_SINGLE_LABEL/labelsTs/*.nii.gz
/dataset/Dataset021_ACDC_LABEL_ALIGN/

/results_acdc_label_align
/results_acdc_label_align_meshonly
/results_acdc_single_label_meshonly

#*/
*.nii.gz

# Utils and Rasterizer
!/utils/
/utils/*
!/utils/rasterize/
/utils/rasterize/*
!/utils/rasterize/*.py
!/utils/rasterize/*.cpp
!/utils/rasterize/*.cu
!/utils/path_config.py
!/utils/process_nrrd_slices.py
!/utils/update_dataset_json.py
!/utils/mesh_metrics.py
!/utils/xlsx_exporter.py
!/utils/testing/
!/utils/testing/*.py

# Data-loader
!/data

# Networks
!/model

# Training Loop
!/training

# Evaluation
!/evaluation

# Template assets: meshes are tracked; anchor NIfTIs come from the v1.01 release, not the repo
!/template/
/template/*
!/template/*.obj
!/template/*.txt

# Orientation helper (tools/)
!/tools/
/tools/*
!/tools/*.ipynb
!/tools/*.py
!/tools/*.md

# README and others
!figure/
!README.md
!LICENSE
!main.py
!run.py
!sweep_agent.py
!control.sh
!install_morphinet.sh
!run_sweep.sh
!sweep_config.yaml
!environment.yml


#*/
#*.vtk
#*.vtp
#*.vtu
#*.lon
#*.elem
#*.mesh
#*.nii.gz
#*.dcm
#*.nrrd
##*.json
#*.pth
#*.tar.gz
#*.obj
#
#/results/
#/results_optional_label_smoke/
#/results_single_no_label_compare/
#/results_single_no_label_intermediates/
#/results_single_no_label_test/
#/results_single_with_label_compare/
#/results_single_with_label_intermediates/
#/results_acdc_label_align/
#/results_acdc_label_align_meshonly/
#/results_acdc_single_label_meshonly/
#
#!/dataset/Dataset021_ACDC_SINGLE_LABEL/
#
#/release/
#/results_self/
#!/codex_record/
## Utils and Rasterizer
#!/utils/
#/utils/*
#!/utils/*.py
#!/utils/rasterize/
#/utils/rasterize/*
#!/utils/rasterize/*.py
#!/utils/rasterize/*.cpp
#!/utils/rasterize/*.cu
#!/utils/path_config.py
#!/utils/process_nrrd_slices.py
#!/utils/update_dataset_json.py
#!/utils/testing/
#!/utils/testing/*.py
#
## Data-loader
#!/data
#!/data/
#!/data/*.py
#!/data/utils/
#!/data/utils/*.py
#
## Pipeline
#!/pipeline/
#!/pipeline/*.py
#
## Networks
#!/model
#
## Training Loop
#!/training
#
## Evaluation
#!/evaluation
#
## Template assets: meshes are tracked; anchor NIfTIs come from the v1.01 release, not the repo
#!/template/
#/template/*
#!/template/*.obj
#!/template/*.txt
#
## Orientation helper (tools/)
#!/tools/
#/tools/*
#!/tools/*.ipynb
#!/tools/*.py
#!/tools/*.md
#
## README and others
#!figure/
#!README.md
#!LICENSE
#!main.py
#!run.py
#!sweep_agent.py
#!control.sh
#!install_morphinet.sh
#!run_sweep.sh
#!sweep_config.yaml
#!environment.yml
